[Unit]
Description=GeungjungBot

[Service]
Restart=always
  RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=geungjung
User=jihoonl
Group=jihoonl
EnvironmentFile=/home/jihoonl/geungjungenv
ExecStart=/home/jihoonl/research/geungjungbot/scripts/server2.py

[Install]
WantedBy=multi-user.target

